body,
button,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 25px;
}

p,
li {
  max-width: 800px;
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.demo {
  display: inline-block;
  position: relative;
}

.small {
  height: 180px;
  width: 250px;
}

.medium {
  height: 250px;
  width: 300px;
}

.padded {
  padding: 20px;
}

.fullScreen {
  display: flex;
  height: 100%;
}
