html {
  height: 100%;
}

body {
  background: #333;
  color: #ccc;
  display: grid;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  padding: 0;
}

story-browser::part(frame) {
  background: white;
}

story-browser h1 {
  margin: 0;
  padding: 20px;
}

story-browser ul {
  margin: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
  padding: 2px 0;
}

story-browser a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

story-browser ul div {
  color: #888;
  user-select: none;
}

/*
Handle indenting in the anchor/div level, not the list, so that selecting an
anchor/div selects the whole row.
*/

story-browser ul a,
story-browser ul div {
  display: block;
  font-size: 13px;
  padding: 4px 20px;
}

story-browser ul ul a,
story-browser ul ul div {
  padding-left: 40px;
}

story-browser ul ul ul a,
story-browser ul ul ul div {
  padding-left: 60px;
}

story-browser ul ul ul ul a,
story-browser ul ul ul ul div {
  padding-left: 80px;
}

story-browser ul a.current {
  background: #1ea7fd;
  color: #ffffff;
}

h1 {
  background: initial;
}

#intro {
  margin-bottom: 0.5em;
}
